body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Фонова заливка для кращої видимості */
  }
  .item {
    height: 100px;
    /* flex-frow - дозволяє контролювати розширення елементів */
    flex-grow: 1;
    /*font-weight - жирність */
    font-weight: 600;
    /*font-size- розмір */
    font-size: 30px;
    background-color: red;
    padding: 50px;
    }
  .holder {
    display: flex;
    /* flex-wrap - перенос контенту */
    flex-wrap: wrap;
    border: 3px solid black;
    border-top-left-radius:29px ;
    border-top-right-radius:29px;
    }
    
    .item:nth-child(1) {
    background-color: red;
    /* flex-basis: 50%; */
    width: 50%;
    order: -3;
border-top-left-radius: 25px ;
flex-grow: 2;
}
.item:nth-child(2){
  background-color: aqua;
}
.item:nth-child(3){
  background-color: purple;
  order: -1;
}
.item:nth-child(4){
  background-color: green;
}
.item:nth-child(5){
  background-color: orange;
  order: -2;
  border-top-right-radius: 25px;
  width: 50%;
  flex-grow: 2;
}